settings:
    ecmascript: 6

ecmaFeatures:
    modules: true

env:
    es6: true

globals:
    describe: true
    beforeEach: true
    expect: true
    it: true

rules:
    strict: 2
    indent: 2
    brace-style: [2, "1tbs"]
    comma-style: [2, "last"]
    default-case: 2
    guard-for-in: 2
    no-underscore-dangle: 0
    no-floating-decimal: 2
    no-nested-ternary: 2
    no-undefined: 2
    radix: 2
    space-after-keywords: [2, "always"]
    space-before-blocks: 2
    wrap-iife: [2, 'inside']
    quotes: [1, "single"]
    spaced-line-comment: [0, "never", {}]
    func-style: 0
    no-console: 2
    no-var: 2
    prefer-const: 2
    no-debugger: 2
    curly: 2
    no-fallthrough: 2
    no-lone-blocks: 2
    prefer-spread: 2

